.bpm {
    position: relative;
    background-color: #1d31ff;
    border: none;
    color: white;
    padding: 1em;
    width: 6em;
    display: inline-block;
    top: 0px;
    margin-right: 2em;
    text-align: center;
}

.bpm-container {
    display: inline;
    alignment: left;
}
